@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp5</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 产线配置
           </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> BOM配置
            </NavLink>
        </div>
    </nav>
</div>*@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MES SYSTEM</a>
    </div>
</div>

<MudPaper Width="250px" Elevation="2" Style="border-radius: 0px 0 0px 5px !important;" Height="100%">
    <MudNavMenu Margin="Margin.Normal" Color="Color.Error">
        <MudNavGroup Title="产线配置" Icon="@Icons.Material.Filled.Settings" Expanded="false">

            <MudNavLink Match="NavLinkMatch.All" Href="/" >
                <span class="material-symbols-outlined" style="vertical-align: middle; margin-left: -12px;margin-right: 8px;">
                    splitscreen_vertical_add
                </span>
                Line List
            </MudNavLink>

            <MudNavLink Match="NavLinkMatch.Prefix" Href="/plclist">
                <span class="material-symbols-outlined " style="vertical-align: middle; margin-left: -12px;margin-right: 8px;">
                    lan
                </span>
                Network
            </MudNavLink>

        </MudNavGroup>

        <MudNavGroup Title="BOM配置" Icon="@Icons.Material.Filled.Settings" Expanded="false">
            <MudNavLink Match="NavLinkMatch.Prefix" Href="/bomlist" Icon="@Icons.Material.Filled.People" IconColor="Color.Success">Bom List</MudNavLink>
            <MudNavLink Match="NavLinkMatch.Prefix" Href="/bomimport" Icon="@Icons.Material.Filled.Security" IconColor="Color.Info">BOM Import</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings" Expanded="false">
            <MudNavLink Href="/users" Icon="@Icons.Material.Filled.People" IconColor="Color.Success">Users</MudNavLink>
            <MudNavLink Href="/security" Icon="@Icons.Material.Filled.Security" IconColor="Color.Info">Security</MudNavLink>
        </MudNavGroup>

    </MudNavMenu>
</MudPaper>
